<!DOCTYPE html>
<html>
  <head>
    <title>Noticeboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

<div class = "titlebox"><h1>Noticeboard</h1></div>
<div id = "underbox">
<%= link_to root_path do %>
<div class = "navbox"><span class = "navtext">Home</span></div>
<% end %>
<%= link_to archive_path do %>
<div class = "navbox"><span class = "navtext">Archive</span></div>
<% end %>
</div>

    <%= yield %>
  </body>
</html>
