<!DOCTYPE html>
<html>
  <head>
    <title>Noticeboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    </head>

<body>

<div class = "titlebox">
<h1>Noticeboard</h1>
<div id = "bigoldbox">
<div class = "menubox">
<div class = "tabbox toptabbox">Header</div>
<div class = "tabbox">Item 1</div>
<div class = "tabbox">Item 2</div>
<div class = "tabbox">Item 3</div>
<%= link_to search_path do %>
<div class = "tabbox">Search</div>
<% end %>
</div>
<div class = "menubox">
<div class = "tabbox toptabbox">Header 2</div>
<%= link_to search_path do %>
<div class = "tabbox">Search it up</div>
<% end %>
<div class = "tabbox">Item 5</div>
<div class = "tabbox">Item 6</div>
</div>
</div>
</div>
<div class = "underbox">
<%= link_to root_path do %>
<div class = "navbox"><span class = "navtext">Home</span></div>
<% end %>
<%= link_to archive_path do %>
<div class = "navbox"><span class = "navtext">Archive</span></div>
<% end %>
</div>

    <%= yield %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</body>
</html>
